# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# Vite temp files
vite.config.js.timestamp-*

# Environment variables (Crucial to block API Hash & IDs!)
.env
.env.production
.env.development
.env.local
.env.*.local
